<form>
  <div id="about-time-calendar">
    <div>
      <h3 id="about-time-calendar-hdr" text-align="center" class="about-time-calendar-hdr">
        {{now.date}}
      </h3>
    </div>
    <div class="about-time-calendar-container">
      {{#if isGM}}
      <div class="about-time-calendar-btn-container">
        <i id="about-time-calendar-btn-7am" class="fas fa-sun about-time-fa-calendar-7am" 
          title="{{ localize 'about-time.display.advance7am' }}"></i>
        <i id="about-time-calendar-btn-12pm" class="fas fa-fast-forward about-time-fa-calendar-12pm"
          title="{{ localize 'about-time.display.advanceMidDay' }}"></i>
        <i id="about-time-calendar-btn-12am" class="fas fa-moon about-time-fa-calendar-12am" 
          title="{{ 'localize 'about-time.display.advanceMidnight' }}"></i>
        <i id="about-time-calendar-btn-7pm" class="fas fa-fast-forward about-time-fa-calendar-7pm" 
          title="{{ 'localize about-time.display.advance7pm' }}"></i>
      </div>
      {{/if}}
    </div>
  </div>
</form>